.text--0- {
    width: 219px;
    height: 48px;
    color: #000000;
    font-size: 15px;
    font-family: Urbanist, "ExtraLight";
    font-weight: 200;
    text-align: left;
    vertical-align: top;
  }
  .container--0- {
    position: absolute;
    left: 1516px;
    top: 4654px;
    width: 29px;
    height: 27px;
    justify-content: start;
    align-items: start;
  }
  .text-0-1-0 {
    width: 100%;
    height: 100%;
    color: #262626;
    font-size: 18px;
    font-family: Urbanist, "SemiBold";
    font-weight: 600;
    text-align: left;
    vertical-align: top;
  }